<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="background"></div>

  <div class="container">

    <ion-button expand="full" color="warning" class="valendo">Valendo: {{valendo}}</ion-button>

    <div class="truco">

      <ion-button fill="outline" (click)="normal()">1</ion-button>

      <ion-button fill="outline" (click)="truco()">3</ion-button>

      <ion-button fill="outline" (click)="facao()">6</ion-button>

      <ion-button fill="outline" (click)="marreco()">9</ion-button>

      <ion-button fill="outline" (click)="ladrao()">12</ion-button>

    </div>

    <div class="soma">

      <ion-button size="large" (click)="somaEsq()" color="dark" fill="outline">+</ion-button>

      <span>  </span>

      <ion-button size="large" (click)="somaDir()" color="dark" fill="outline">+</ion-button>

    </div>

    <div class="pontos">
      <h1>{{pontos1}}</h1>
      <h1></h1>
      <h1>{{pontos2}}</h1>
    </div>

    <div class="menos">

      <ion-button size="large" (click)="menosEsq()" color="dark" fill="outline">-</ion-button>

      <span>  </span>

      <ion-button size="large" (click)="menosDir()" color="dark" fill="outline">-</ion-button>

    </div>

    <div class="time">

      <ion-button size="large" class="time1" color="dark" fill="outline">Nós</ion-button>

      <span>  </span>

      <ion-button size="large" class="time2" color="dark" fill="outline">Eles</ion-button>

    </div>

    <div class="resultado">

      <ion-button size="large" class="resTime'" color="dark" fill="outline"> </ion-button>

      <span>  </span>

      <ion-button size="large" class="resTime2" color="dark" fill="outline"> </ion-button>

    </div>

  </div>


</ion-content>]

<ion-footer>
  <ion-button expand="full" color="warning" (click)="limparJogo()">RESETAR</ion-button>
</ion-footer>
